﻿body{
	margin: 0;
	font-family: 'MyriadPro-Regular';
	color: #000;
	background: #fff;
}
*{
	-webkit-transition: all 0.4s ease 0s;
	   -moz-transition: all 0.4s ease 0s;
	    -ms-transition: all 0.4s ease 0s;
	     -o-transition: all 0.4s ease 0s;
			transition: all 0.4s ease 0s;
}
*:hover{
	-webkit-transition: all 0.4s ease 0s;
	   -moz-transition: all 0.4s ease 0s;
	    -ms-transition: all 0.4s ease 0s;
	     -o-transition: all 0.4s ease 0s;
			transition: all 0.4s ease 0s;
}
a:focus{
	outline: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus{
	outline: none;
}
.nav > li > a:hover, .nav > li > a:focus{
	background: #ff0000;
}
.no-margin{
	margin: 0;
}
.btn-custom{
	font-size: 12px;
	border-radius: 7px;
	border: dashed 1px #8d8d8d;
	padding: 3px 10px;
	color: #000;
	width: 43px;
}
.btn-custom-1{
	font-size: 18px;
	border-bottom: 1px dashed #000;
	background: none;
	padding: 0;
	border-radius: 0;
}
.btn-custom-2{
	font-size: 17px;
	background: #ff0000;
	border-radius: 20px;
	color: #fff;
}
.btn-custom-3{
	border: 1px solid #c6c6c6;
	border-radius: 25px;
	font-family: 'MyriadPro-Semibold';
	color: #0c0c0c;
	padding: 6px 25px;
	margin-bottom: 10px;
	text-decoration: none;
}
/* -- HEADER -- */
header{
	padding-top: 30px;
}
header .ico{
	float: left;
	margin-right: 15px;
}
.cart{
	display: block;
	width: 119px;
	height: 27px;
	float: left;
}
.header-p-1{
	font-size: 18px;
	float: left;
	color: #000;
}
.btn-custom:hover{
	background: #f7f7f7;
}
.header-content{
	width: 230px;
	min-height: 70px;
	margin: 0 auto;
	float: right;
}
.header-content i{
	font-size: 20px;
	color: #fc2d2d;
	float: left;
	margin-right: 15px;
}
.phone{
	font-size: 17px;
	float: left;
	width: 70%;
}
.nav-width{
	max-width: 65%;
	margin: 0 auto;
}
.navigation{
	background: #3f3f3f;
	min-height: 35px;
	margin-top: 30px;
	font-family: 'Open sans';
	position: relative;
}
.navigation .nav li a{
	color: #fff;
	text-transform: uppercase;
	font-size: 11px;
	padding: 10px 5px;
}
.navigation .nav li{
    position: relative;
	color: #fff;
}
.navigation .nav li a:hover{
	background: #ff0000;
}
.navigation .nav > li+li:before {
	content: "|";
	color: #868686;
	float: left;
	margin-top: 4px;
	font-size: 20px;
	margin-left: -6px;
}
.navigation .nav > li:last-child+li:before {
	content: "";
}
.navigation .navbar-toggle .icon-bar{
	background: #FFF;
}

.navigation li > ul {
    position: absolute;
    left: 0;
    top: 38px;
    width: 275px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    background: #3d3d3d;
    z-index: 1;
}

.navigation li > ul > li > ul {
    top: 0;
    left: 275px;
}

.navigation li:hover > ul {
    display: block;
}

.navigation .nav li > ul > li > a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    background: #3d3d3d;
}
.navigation .nav li > ul > li > a:hover {
    background: #cc0e00;
    text-decoration: none;
}

.search{
	float: right;
	position: absolute;
	top: 5px;
	right: 35px;
}
.navbar-toggle{
	margin-right: 45px;
}

/*   SLIDER  */
.slider .owl-theme .owl-nav{
	position: absolute;
	top: 35%;
	width: 100%;
}
.slider  .owl-theme .owl-nav .owl-prev{
	float: left;
	margin-left: 30px;
}
.slider  .owl-theme .owl-nav .owl-next{
	float: right;
	margin-right: 30px;
}
.slider  .owl-theme .owl-nav [class*="owl-"]{
	background: none;
	opacity: .8
}
.slider  .owl-theme .owl-nav [class*="owl-"]:hover{
	background: none;
	opacity: 1;
}


.navigation-1{
	border-top: 3px solid #f10007;
	min-height: 91px;
	width: 100%;
}
.navigation-1 .owl-dot {
	height: 91px;
	float: left;
	width: 20%;
	background: -webkit-linear-gradient(top, #fff 0%, #d4d4d5 100%);
	background:    -moz-linear-gradient(top, #fff 0%, #d4d4d5 100%);
    background:     -ms-linear-gradient(top, #fff 0%, #d4d4d5 100%);
    background:      -o-linear-gradient(top, #fff 0%, #d4d4d5 100%);
    background: 	    linear-gradient(top, #fff 0%, #d4d4d5 100%);
}
.navigation-1 .owl-dot a{
	height: 91px;
	font-size: 17px;
	font-family: 'MyriadPro-Semibold';
	color: #141414;
	padding-top: 20px;
	display: block;
	text-decoration: none;
}
/*.navigation-1 .owl-dot a:hover{
	background: -webkit-linear-gradient(top, #fb0007 0%, #bc0006 100%);
	background:    -moz-linear-gradient(top, #fb0007 0%, #bc0006 100%);
    background:     -ms-linear-gradient(top, #fb0007 0%, #bc0006 100%);
    background:      -o-linear-gradient(top, #fb0007 0%, #bc0006 100%);
    background: 	    linear-gradient(top, #fb0007 0%, #bc0006 100%);
	color: #fff;
	box-shadow: none;
	text-decoration: none;
}*/
.navigation-1 .owl-dot .up{
	display: none;
}
.navigation-1 .owl-dot.active a{
	background: -webkit-linear-gradient(top, #fb0007 0%, #bc0006 100%);
	background:    -moz-linear-gradient(top, #fb0007 0%, #bc0006 100%);
    background:     -ms-linear-gradient(top, #fb0007 0%, #bc0006 100%);
    background:      -o-linear-gradient(top, #fb0007 0%, #bc0006 100%);
    background: 	    linear-gradient(top, #fb0007 0%, #bc0006 100%);
	color: #fff;
	box-shadow: none;
	text-decoration: none;
	z-index: 3;
	position: relative;
}
.navigation-1 owl-dot a:focus{
	background: -webkit-linear-gradient(top, #fb0007 0%, #bc0006 100%);
	background:    -moz-linear-gradient(top, #fb0007 0%, #bc0006 100%);
    background:     -ms-linear-gradient(top, #fb0007 0%, #bc0006 100%);
    background:      -o-linear-gradient(top, #fb0007 0%, #bc0006 100%);
    background: 	    linear-gradient(top, #fb0007 0%, #bc0006 100%);
	color: #fff;
	z-index: 3;
}
.navigation-1 .owl-dot.active .up{
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background: #ff0000;
	border-radius: 100%;
	display: block;
	text-align: center;
	color: #fff;
	font-size: 35px;
	margin-top: -115px;
	position: relative;
	z-index: 2;
	line-height: 40px;
}

/*  Sec-1 */
.sec-1{
	padding-top: 120px;
}
.sec-1 .block{
	min-height: 455px;
	border: 1px solid #c6c6c6;
	padding: 55px 12px 0;
}
.sec-1 .title{
	width: 233px;
	height: 77px;
	padding: 25px 50px;
	font-size: 24px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	background: url(../img/icons/button.png);
	font-weight: bold;
	margin-top: -90px;
	margin-left: 60px;
}
.sec-1 .h-title{
	font-size: 30px;
	color: #262626;
	margin-top: 45px;
}
.sec-1 .p-info{
	font-size: 15px;
	color: #6b6b6b;
}
.sec-1 .owl-theme .owl-dots{
	text-align: right;
	margin-right: 177px;
	margin-top: -60px;
	z-index: 3;
	position: relative;
}
.sec-1 .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	background: #f80000;
}

/*  Sec-2 */
.sec-2{
	padding-top: 120px;
}
.sec-2 .title{
	width: 336px;
	height: 74px;
	padding: 25px 50px;
	font-size: 24px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	background: url(../img/icons/button2.png);
	font-weight: bold;
	margin: 0 auto;
}
.sec-2 .block{
	border: 1px solid #e9e9e9;
}
.sec-2 .date{
	padding: 5px 10px;
	border: 1px solid #e9e9e9;
	border-top: none;
	border-left: none;
	width: 115px;
}
.col15-sm-3{
	padding: 0;
}
.sec-2 .h-title{
	font-size: 15px;
	text-decoration: underline;
	color: #000;
}
.sec-2 .p-info{
	font-size: 13px;
	margin-top: 15px;
}
.sec-2 .block-pad{
	padding: 5px;
}

/*  Sec-3 */
.sec-3{
	padding-top: 120px;
	margin-bottom: 150px;
}
.sec-3 .block{
	min-height: 455px;
	border: 1px solid #c6c6c6;
	padding: 55px 20px 0;
}
.sec-3 .title{
	width: 290px;
	height: 74px;
	padding: 25px 50px;
	font-size: 24px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	background: url(../img/icons/button2.png);
	font-weight: bold;
	margin-top: -90px;
	margin-left: 60px;
}
.sec-3 .info{
	font-size: 16px;
	margin-top: 50px;
}
.sec-3 .items{
	width: 125px;
	text-align: center;
	color: #0e0e0e;
	float: left;
	height: 145px;
}
.items-mar{
	margin-left: 70px;
}

/*  Sec-4 */
.sec-4{
	height: 100px;
	background: #5f5f5f;
	position: relative;
}
.partners{
	max-width: 995px;
	margin-top: 20px;
}
.sec-4 .title{
    position: absolute;
    top: -32px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    padding: 6px 20px;
    background: #a3a3a3;
    border-radius: 17px 17px 0 0;
}
.to-top{
	background: #ff0000;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 30px;
	font-size: 25px;
	color: #fff;
	height: 25px;
	text-align: center;
	line-height: 16px;
	position: absolute;
	top: -25px;
	right: 10px;
}
.slider-2 .owl-theme .owl-nav{
	position: absolute;
	top: -7%;
	width: 100%;
}
.slider-2  .owl-theme .owl-nav .owl-prev{
	float: left;
	margin-left: -70px;
}
.slider-2  .owl-theme .owl-nav .owl-next{
	float: right;
	margin-right: -70px;
}
.slider-2  .owl-theme .owl-nav [class*="owl-"]{
	background: none;
	opacity: .8
}
.slider-2 .owl-theme .owl-nav [class*="owl-"]:hover{
	background: none;
	opacity: 1;
}

footer{
	padding: 40px 0;
	background: #eee;
}
.social{
	margin-top: 5px;
}
footer .search-1 .form-control{
	border-radius: 20px;
}
footer .search-1 .form-control:focus{
	box-shadow: none;
	border-color: #000;
}
.form-control-feedback{
	right: 20px;
}
footer a{
	color: #0c0c0c;
	text-decoration: underline;
	line-height: 28px;
	font-size: 14px;
}
footer .info{
	font-size: 15px;
	line-height: 23px;
	opacity: .7;
}
.addr{
	color: #757575;
}
.addr a{
	line-height: 0;
	color: #757575;
}
.addr span{
	text-decoration: underline;
	font-size: 15px;
	opacity: 1;
	color: #0c0c0c;
}
.modal-content{
	background: #eee;
	text-align: center;
}
.modal-dialog{
	max-width: 400px;
}
.modal-content h3{
	float: left;
	margin: 0;
}
.modal-content input{
	margin-bottom: 10px;
}

input[type=search] {
	background: url(../img/icons/search.png) no-repeat 9px center;
	border: none;
	padding: 3px 3px 3px 32px;
	width: 55px; /* Ширина по умолчанию */

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}
input[type=search] {
	width: 0px;
    padding-left: 30px;
    color: transparent;
    cursor: pointer;
}
input[type=search]:hover {

}
input[type=search]:focus {
	width: 160px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
	outline: none;
}

.addr {
    color: #313131;
}

.top-top {
    margin: auto;
    max-width: 1366px;
}

.slider-2 .item {
    background: #5F5F5F;
}

.slider {
    max-width: 1920px;
    margin: auto;
}

.company-info-p {
    font-size: 17px !important;
    font-weight: 500;
}

.col-md-7.company-info {
    padding-left: 41px;
}

a.btn.btn-custom-2 {
    padding: 18px;
    border-radius: 58px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: 9px;
    letter-spacing: 0.8px;
}

.h2-title {
	line-height: 28px !important;
	letter-spacing: 1.9px !important;
	font-size: 23px !important;
}

.col-md-7.company-info {
    padding-bottom: 34px;
}

section.sec-2 {
    margin: auto;
}


.block-pad {
    min-height: 167px;
}

.nav > li > a {
    font-size: 14px !important;
    white-space: nowrap;
}

.h2-title {
    position: relative;
    z-index: 99 !important;
}

.sec-2 .block {
    background: url('img/gradient.png');
    border-right: 0px;
}

.sec-2 .date {
    background: #fff;
    font-size: 12px;
    /* padding-right: 0px !important; */
    text-align: center;
    width: 117px;
    letter-spacing: 0.6px;
    padding: 5px 12px;
}

.sec-2 .date i {
    display: inline-block;
    padding-right: 5px;
    opacity: 0.6;
}

.sec-2 .p-info {
    /* padding-left: 10px; */
}

.block-pad {
    padding-left: 17px !important;
    padding-right: 12px !important;
}

.navigation-1 .owl-dot a>div {
    display: block;
}

.navigation-1 .owl-dot a {
    display: -webkit-flex;
    display: -webkit-flexbox;
    display: -ms-flex;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
    -wbkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding-top: 0px !important;
}

img.img-responsive.logo-img {
    padding-left: 21px;
}

/* .slider-1 .item {
    background: #fff !important;
}

.slider-1 .item {
    background: #fff !important;
}*/

footer .search-1 .form-control {
    border-radius: 0px !important;
    border: none;
}

a.btn.btn-custom-3 {
    font-size: 15px;
    padding: 10px 40px;
    box-sizing: border-box;
    opacity: 0.64;
}

a.btn.btn-custom-3:hover {
    opacity: 1;
}

a.btn.btn-custom-3 {
    width: 139px;
    text-align: center;
    padding: 9px 10px;
}

footer .info {
    font-size: 15px;
    line-height: 23px;
    opacity: 1;
}

p.addr>span {
    font-style: italic;
}

i.I {
    font-style: normal;
    display: inline-block;
    padding-left: 2px;
    padding-right: 3px;
}

a.mail-link {
    color: #525252;
}

.sec-2 .block {
    background-size: cover;
}

section.sec-3 {
    margin-bottom: 250px;
}

.owl-stage {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.owl-item>.item>.row {
    margin: auto !important;
}

.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;  // added this
}

	.sec-2 .title {
	    width: 336px !important;
	    height: 74px;
	    padding: 25px 7px;
	    font-size: 20px;
	}
.sec-1 .owl-theme .owl-dots {
    text-align: right;
    margin-right: 187px;
    margin-top: -40px;
    z-index: 3;
    position: relative;
}

@media screen and (max-width: 980px) {
.sec-1 .owl-theme .owl-dots {
    display: none !important;
}
}

footer * {font-family: "PT Sans";}

input#inputSuccess2 {
    width: 196px;
    box-sizing: border-box;
    display: inline-block;
}

span.form-control-feedback {
    right: 46px;
}

.footer-right-list a {
    font-size: 16px !important;
    line-height: 29px; /* 32px; */
}

footer a {
    color: #000;
}

footer .info {
    font-size: 16px;
    line-height: 20px;
}

p.addr>span {
    font-size: 17px;
}

p.addr {
    /* font-size: 14px; */
    line-height: 22px;
    font-family: "PT Sans";
    padding-bottom: 10px;
    font-size: 16px;
}

p.info.footer-text {
    /* max-width: 333px; */
    padding: 0px 29px;
}



.adaptive-center {
    text-align: left;
}
@media screen and (max-width: 1024px) {
.adaptive-center {
    text-align: center;
}
}

@media screen and (max-width: 1024px) {
    span.form-control-feedback {
        right: 150px;
    }
}

.navigation-1 .owl-dot {
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #dedede 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#dedede 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#dedede 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
box-shadow: inset 6px 0px 6px rgba(170,170,170,0.1)
}

.navigation-1 .owl-dot {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #dedede 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#dedede 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#dedede 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 );
    box-shadow: inset -4px 0px 5px rgba(170,170,170,0.3);
}

a.btn.btn-custom {
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 14px;
    border: dashed 1px #000;
    border-radius: 22px;
    margin-left: 5px;
}

.navigation .nav li a {
    font-size: 13px !important;
}

.to-top {
    width: 40px;
    color: rgba(255,255,255,0.7);
    /* height: 40px; */
    border-radius: 16px 16px 0px 0px;
    right: 40px;
}

.sec-4 .title {
    margin-left: -68px;
    letter-spacing: 1px;
}

.sec-1 .p-info {
    font-size: 14px;
    color: #6b6b6b;
    font-weight: 100;
    font-family: "PT Sans";
    line-height: 22px;
}

.partners {
    max-width: initial;
    margin-top: 20px;
}

.owl-prev {
    z-index: 999;
}

/** {
    backface-visibility: hidden;
}*/

.sec-2 .block {
    background: url('img/gradient.png');
    border-right: 0px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,f9f9f9+58,f3f3f3+60,f3f3f3+100 */
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #f9f9f9 0%, #f9f9f9 58%, #f3f3f3 60%, #f3f3f3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #f9f9f9 0%,#f9f9f9 58%,#f3f3f3 60%,#f3f3f3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #f9f9f9 0%,#f9f9f9 58%,#f3f3f3 60%,#f3f3f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f3f3f3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

a.btn.btn-custom-3 {
    font-family: "PT Sans";
    font-weight: 600;
}
.navigation-1 .owl-dot:not(.active) a:hover {
    background: #ddd;
    color: #141414;
}

.navigation-1 .owl-dot a {
    transition: color 0s !important;
}

/* lezhni custom styles */
body {
    overflow-x: hidden;
}
.clear:after,
div:after,
.title-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container-custom {
    position: relative;
    width: 1040px;
    margin: 0 auto;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.breadcrumbs {
    padding: 40px 0 30px;
}

.breadcrumbs ul {
    padding-left: 30px;
    background: url('../img/icons/home.png') no-repeat center left;
}

.breadcrumbs ul li {
    display: inline-block;
    margin-right: 8px;
    vertical-align: top;
}

.breadcrumbs ul li:after {
    content: url('../img/icons/arrow-right-small.png');
    margin-left: 12px;
}

.breadcrumbs ul li:last-child {
    margin-right: 0;
}

.breadcrumbs ul li:last-child:after {
    content: none;
}

.breadcrumbs ul li,
.breadcrumbs ul li a {
    font-size: 14px;
    color: #666666;
}

.breadcrumbs ul li a {
    border-bottom: 1px solid #666;
}

.breadcrumbs ul li a:hover {
    text-decoration: none;
    border-bottom-color: transparent;
}

.sec-catalog-main,
.sec-page {
    padding: 0 0 50px;
}

.sec-catalog-main h1,
.sec-page h1 {
    margin: 0;
    font-size: 36px;
}

.main-catalog-list {
    margin: 30px 0 0;
}

.catalog-item {
    float: left;
    width: 480px;
    margin-right: 80px;
    margin-bottom: 60px;
}

.catalog-item:nth-child(2n) {
    margin-right: 0;
}

.catalog-item-img img {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid #e0e0e0;
}

.catalog-item-title {
    margin: 20px 0 15px;
    font-size: 28px;
}

.catalog-item-title a {
    color: #000;
}

.catalog-item-title a:hover {
    text-decoration: none;
    color: #cc0e00;
}

.catalog-item-desc {
    margin: 0 0 10px;
    font-size: 20px;
}

.catalog-item-desc p {
    margin: 0;
}

.catalog-item-more:hover {
    color: #fff;
    background: #525252;
}

@media screen and (max-width: 1058px) {

    .container-custom {
        width: 100%;
        padding: 0 15px;
    }

    .breadcrumbs li {
        margin: 4px 8px 4px 0;
    }

    .sec-4 .title {
        margin-left: 0 !important;
    }

    .navigation .nav ul {
        position: static;
        display: block;
        width: auto;
        margin: 10px 0;
        background: none;
    }

    .navigation .nav.nav ul a {
        font-size: 11px !important;
        background: none !important;
    }

    .catalog-item {
        float: none;
        width: 100%;
        margin-right: 0;
    }
}

/* catalog level 1 */
.leftcol,
.rightcol {
    float: left;
}

.leftcol {
    width: 27.7777777778%;
    padding: 90px 5.55555556% 110px;
    background: #f0f0f0;
}

.rightcol {
    width: 72.2222222222%;
    padding: 0 5.55555556% 100px 2.77777778%;
}

.leftcol-menu-title,
.sec-catalog-level1 h1,
.sec-catalog-level1 h2 {
    margin: 0;
    font-size: 28px;
    line-height: 30.8px;
    font-weight: 400;
}

.leftcol-menu li {
    margin-top: 10px;
}

.leftcol-menu li a {
    font-size: 17px;
    color: #000;
}

.leftcol-menu li a:hover,
.leftcol-menu li.active a,
.leftcol-menu li a.active {
    color: #cc0e00;
    text-decoration: none;
}

.catalog-level1-desc p {
    margin: 15px 0;
    font-size: 20px;
}

.catalog-level1-list {
    margin: 30px -1.73611111111% 0;
}

.catalog-level1-item {
    float: left;
    width: 29.8611111111%;
    margin: 0 1.73611111111% 3.47222222222%;
    font-size: 20px;
    color: #000;
    background: #f0f0f0;
}

.catalog-level1-item:hover,
.catalog-level1-item:active,
.catalog-level1-item:focus {
	text-decoration: none;
}

.catalog-level1-item:focus {
	color: #000;
}

.catalog-level1-item:hover {
    text-decoration: none;
    color: #fff;
    background: #525252;
}
.catalog-level1-item:hover img {
    border-color: #525252;
}

.catalog-level1-item img {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid #e0e0e0;
}

.catalog-level1-item span {
    display: block;
    padding: 25px 0;
    text-align: center;
    transition: none;
}

.catalog-level1-additional {
    margin-top: 40px;
}

.catalog-level1-additional-list {
    margin: 40px -1.25% 0;
}

.catalog-level1-additional-list .catalog-level1-item {
    width: 22.5%;
    margin: 0 1.25% 2.5%;
    background: #f0f0f0;
}
.catalog-level1-additional-list .catalog-level1-item:hover {
    background: #525252;
}

.catalog-level1-additional-list .catalog-level1-item span {
    padding: 15px 15px 10px;
    text-align: left;
}

.catalog-level1-additional-list .catalog-level1-item p {
    margin: 0;
    padding: 0 15px 15px;
    font-size: 14px;
    transition: none;
}

.catalog-level1-additional-list .catalog-level1-item .item-price {
    display: block;
    padding: 0 15px 10px;
    font-size: 20px;
    font-weight: 400;
    color: #cc0e00;
}

.catalog-level1-additional-list .catalog-level1-item:hover .item-price {
    color: #fff;
}

@media screen and (max-width: 1058px) {

    .leftcol,
    .rightcol {
        float: none;
        width: 100%;
    }

    .leftcol {
        height: auto !important;
        padding: 50px 15px;
    }

    .rightcol {
        padding: 0 15px 50px;
    }

    .catalog-level1-list {
        margin-left: 0;
        margin-right: 0;
    }

    .catalog-level1-item,
    .catalog-level1-additional-list .catalog-level1-item {
        float: none;
        display: block;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 25px;
    }
}

.catalog-loadmore-container {
    text-align: center;
}

.catalog-loadmore-container .btn.catalog-loadmore {
    margin-top: 20px;
}

.catalog-loadmore-container .btn.catalog-loadmore:hover {
    color: #fff;
    background: #525252;
}

/* catalog product */
.slick-slide {
    outline: none;
}

.sec-product .leftcol {
    width: 29.8611111111%;
    padding-right: 1.38888888889%;
    padding-left: 5.55555556%;
    background: #fff;
}

.sec-product .rightcol {
    width: 70.1388888889%;
    padding-left: 1.38888888889%;
}

.sec-product h3 {
    font-size: 23px;
    margin: 10px 0 0;
}

.big-image-slider img,
.small-images-slider img {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.big-image-slider {
    margin-top: 5px;
}

.big-image-slider img {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid #e0e0e0;
}

.small-images-slider {
    margin-top: 20px;
    padding: 0 35px;
}

.small-images-slider img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 9px;
    border: 1px solid #e0e0e0;
}

.small-images-slider img.slick-current {
    border-color: #cc0e00;
}

.product-arrow {
    position: absolute;
    top: 50%;
    width: 16px;
    height: 30px;
    transform: translateY(-50%);
    cursor: pointer;
}
.prev-arrow {
    left: 0;
    background: url('../img/icons/arrow1.png') no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.next-arrow {
    right: 0;
    background: url('../img/icons/arrow.png') no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.sec-product p {
    margin: 15px 0;
    font-size: 20px;
}

.border-bottom {
    border-bottom: 1px solid #7a7a7a;
}

p.product-price {
    margin: 25px 0;
    font-size: 28px;
    color: #cc0e00;
}

.product-bar {
    margin: 30px -0.86805555555% 60px;
}

.product-bar .button,
.news-single-header .button {
    float: left;
    width: 31.5972222222%;
    margin: 0 0.86805555555%;
    padding: 25px 0;
    padding-left: 25px;
    font-size: 20px;
    color: #000;
    background-color: #f0f0f0;
    background-position: left 25px center;
    background-repeat: no-repeat;
    text-align: center;
}

.product-bar .button:hover,
.news-single-header .button:hover,
.product-bar .opened  {
    text-decoration: none;
    color: #fff;
    background-color: #525252;
}

.product-to-cart {
    background-image: url('../img/icons/cart.png');
}
.product-sertificates {
    background-image: url('../img/icons/medal.png');
}
.product-presentation {
    background-image: url('../img/icons/download.png');
}

.product-to-cart:hover {
    background-image: url('../img/icons/cart-white.png');
}
.product-sertificates:hover,
.product-sertificates.opened {
    background-image: url('../img/icons/medal-white.png');
}
.product-presentation:hover {
    background-image: url('../img/icons/download-white.png');
}

.product-sertificates-block {
    display: none;
    margin: 0 0 10px;
    padding: 15px;
    background: #f0f0f0;
    transition: none !important;
}

.product-sertificates-block a {
    display: inline-block;
    width: 25%;
    margin-right: -4px;
    padding: 15px;
}

.product-sertificates-block a img {
    display: block;
    width: 100%;
    height: auto;
}

.product-advantages,
.product-info,
.product-recomendation {
    padding: 35px 0 25px;
}

.product-leftcol,
.product-rightcol {
    float: left;
}

.product-leftcol {
    width: 33.8058887677%;
    padding-right: 3.81679389313%;
}

.product-rightcol {
    width: 66.1941112323%;
}

.product-leftcol p {
    margin: 2px 0 15px;
    padding-left: 18px;
}

.product-variation {
    margin-top: 40px;
    font-size: 23px;
    text-align: center;
}

.product-variation span {
    padding: 10px;
    cursor: pointer;
}

.product-variation span.active {
    color: #cc0e00;
}

@media screen and (max-width: 1270px) and (min-width: 768px) {

    .button.product-to-cart {
        background-position: left 5px center;
    }
}

@media screen and (max-width: 1058px) {

    .sec-product .leftcol,
    .sec-product .rightcol {
        float: none;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .sec-product .leftcol {
        padding: 25px 0 0;
    }

    .product-bar {
        margin-left: 0;
        margin-right: 0;
    }

    .product-bar .button {
        float: none;
        display: block;
        width: 100%;
        margin: 0 0 25px;
    }

    .product-bar .button:last-child {
        margin-bottom: 0;
    }

    .product-sertificates-block {
        padding: 5px;
    }

    .product-sertificates-block a {
        display: inline-block;
        width: 50%;
        margin-right: -4px;
        padding: 5px;
    }

    .product-leftcol,
    .product-rightcol {
        float: none;
        width: 100%;
        padding: 0;
    }

    .product-rightcol {
        margin-top: 10px;
    }

    .product-variation {
        margin-top: 20px;
        text-align: left;
    }
}

/* contacts */
.sec-contacts-list {
    margin-top: 35px;
}

.contacts-single {
    float: left;
    width: 480px;
    margin-right: 80px;
    margin-bottom: 60px;
}

.contacts-single:nth-child(2n) {
    margin-right: 0;
}

.contacts-single-title {
    margin: 0 0 20px;
    font-size: 28px;
}

.contacts-single p {
    margin: 0;
    font-size: 19px;
}

.contacts-single a {
    text-decoration: none;
    color: #000;
}
.contacts-single a:hover {
    text-decoration: underline;
}

.contacts-single span {
    padding-right: 5px;
    font-size: 20px;
    font-weight: 700;
}

.contacts-single-map {
    position: relative;
    display: block;
    margin-top: 20px;
}

.contacts-single-map img {
    display: block;
    width: 100%;
    height: auto;
}

.contacts-single-map .hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: url('../img/icons/scale.png') no-repeat center center rgba(0, 0, 0, 0.6);
}
.contacts-single-map:hover .hover {
    opacity: 1;
}

@media screen and (max-width: 1058px) {

    .contacts-single {
        float: none;
        width: 100%;
        margin-right: 0;
    }
}

/* news */
.sec-news {
    padding-bottom: 100px;
}

.sec-news h1 {
    font-size: 28px;
}

.title-bar h1,
.title-bar .news-type {
    float: left;
}
.title-bar .news-download {
    float: right;
}

.news-type {
    margin-left: 25px;
    margin-top: 5px;
    font-size: 17px;
}

.news-type li {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
}

.news-type li a {
    color: #000;
    border-bottom: 1px solid transparent;
}

.news-type li.active a,
.news-type li a:hover {
    border-color: #000;
    text-decoration: none;
}

.news-download {
    margin-right: -35px;
    padding: 6px 15px;
    font-size: 17px;
    color: #fff;
    background: #3d3d3d;
}
.news-download:hover {
    color: #000;
    background: #f0f0f0;
    text-decoration: none;
}

.sec-news-list {
    margin-top: 35px;
}

.news-single {
    float: left;
    width: 480px;
    margin-right: 80px;
    margin-bottom: 60px;
}
.news-single:nth-child(2n) {
    margin-right: 0;
}

.news-single-img,
.news-single-content {
    float: left;
}

.news-single-img {
    position: relative;
    width: 145px;
    overflow: hidden;
}

.news-single-img img {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid #f0f0f0;
}

.news-single-label {
    position: absolute;
    top: 10px;
    left: 0;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    background: #3d3d3d;
}

.news-single:hover .news-single-content {
    background: #f0f0f0;
}

.news-single-content {
    width: 335px;
    min-height: 183px;
    padding: 15px;
}

.news-single-content time {
    display: block;
    margin: 0 0 10px;
    color: #666666;
}

.news-single-title,
.news-single-title a {
    margin: 0;
    font-size: 20px;
    color: #000;
}

.news-single-title:hover a {
    text-decoration: none;
    color: #cc0e00;
}

.news-single-excerpt {
    margin: 10px 0 0;
    line-height: 1.2;
}

@media screen and (max-width: 1140px) {

    .news-download {
        margin-right: 0;
    }
}

@media screen and (max-width: 1058px) {

    .title-bar h1,
    .news-type,
    .news-download,
    .news-single,
    .news-single-img,
    .news-single-content {
        float: none;
        width: 100%;
    }

    .news-type {
        margin: 17px 0 25px;
    }

    .news-type li {
        display: block;
        margin: 5px 0;
    }

    .news-download {
        text-align: center;
    }

    .news-single {
        margin-right: 0;
    }

    .news-single-img {
        display: block;
    }

    .news-single-content {
        padding: 15px 0 0;
    }

    .news-single:hover .news-single-content {
        background: none;
    }
}

/* news single */
.sec-news-single {
    padding-bottom: 100px;
}

.news-single-preview,
.news-single-header {
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
}

.news-single-preview {
    width: 480px;
    border: 1px solid #f0f0f0;
}

.news-single-header {
    width: 560px;
    padding-left: 60px;
}

.news-single-header time {
    font-size: 17px;
    color: #666;
}

.news-single-header h1 {
    margin: 15px 0 25px;
    font-size: 28px;
}

.news-single-header .button {
    width: auto;
    margin: 0;
    padding: 25px 75px 25px 100px;
}

.news-single-page {
    margin-top: 45px;
}

.news-single-page img {
    margin: 10px;
    border: 1px solid #f0f0f0;
}

.news-single-page p {
    margin: 20px 0;
    font-size: 20px;
}

@media screen and (max-width: 1058px) {

    .news-single-preview,
    .news-single-header {
        display: block;
        width: 100%;
        margin-right: 0;
    }

    .news-single-header {
        margin: 25px 0 0;
        padding: 0;
    }

    .news-single-header .button {
        width: 100%;
    }

    .news-single-page img {
        max-width: 100%;
        height: auto;
    }
}

/* search */
.sec-search {
    padding-bottom: 100px;
}

.sec-search h1 {
    font-size: 28px;
}

.sec-search h1,
.search-form {
    float: left;
}

.search-form {
    margin-left: 25px;
    margin-top: -2.5px;
}

.search-form input[type="text"],
.search-form select {
    padding: 7px 20px;
    font-size: 17px;
    border: 1px solid #8f8f8f;
    border-radius: 25px;
    outline: none;
}

.search-form input[type="text"] {
    width: 450px;
    padding-left: 50px;
    background: url('../img/icons/search-black.png') no-repeat left 20px center;
}

.search-form input[type="submit"] {
    padding: 8px 35px;
    font-size: 17px;
    color: #fff;
    background: #3d3d3d;
    border: none;
    border-radius: 25px;
}

.search-form select {
    margin: 0 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding-right: 45px;
    background: url('../img/icons/arrow-bottom.png') no-repeat right 20px center;
}

.search-form select::-ms-expand {
    display: none;
}

.search-form input[type="submit"]:hover {
    background: #f0f0f0;
    color: #000;
}

.search-results-list {
    margin-top: 40px;
}

.search-result-single {
    margin-bottom: 50px;
}

.search-result-title {
    margin: 0 0 15px;
    font-size: 23px;
}

.search-result-title a {
    color: #000;
}
.search-result-title a:hover {
    color: #cc0e00;
    text-decoration: none;
}

.search-result-excerpt {
    margin: 0 0 10px;
    font-size: 20px;
}

.search-result-more {
    font-size: 17px;
    color: #000;
    border-bottom: 1px solid #000;
}
.search-result-more:hover {
    color: #000;
    border-color: transparent;
    text-decoration: none;
}

@media screen and (max-width: 1058px) {

    .sec-search h1,
    .search-form {
        float: none;
    }

    .search-form {
        margin: 25px 0;
    }

    .search-form input[type="text"],
    .search-form input[type="submit"],
    .search-form select {
        display: block;
        width: 100%;
        margin: 0 0 10px;
    }
}

/* about page */
.sec-about {
    padding-bottom: 100px;
}

.sec-about h1 {
    margin-bottom: 10px;
}

.news-single-header p {
    font-size: 20px;
}

.about-slider {
    display: inline-block !important;
    border: none;
}

.about-slider img {
    border: 1px solid #f0f0f0;
}

.about-slider .slick-dots {
    margin: 10px 0 0;
    padding: 0;
    width: 100%;
    text-align: center;
    list-style: none;
}

.about-slider .slick-dots button {
    display: none !important;
}

.about-slider .slick-dots li {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 7.5px;
    background: #f0f0f0;
    border-radius: 50%;
    cursor: pointer;
}
.about-slider .slick-dots li.slick-active {
    background: #cc0e00;
}

.about-advantages {
    margin: 45px 0;
    text-align: center;
}

.about-advantages .items {
    display: inline-block;
    width: 20%;
    margin-right: -4px;
    font-size: 19px;
    vertical-align: top;
}

.about-text p {
    margin: 20px 0;
    font-size: 20px;
}

.about-slider-block {
    margin: 50px 0 0;
    text-align: center;
}

.about-slider-block h4 {
    margin: 0 0 20px;
    font-size: 28px;
}

.about-photo-slider,
.about-video-slider {
    width: 920px;
    margin: 0 auto;
}

.about-photo-slider .slick-slide,
.about-video-slider .slick-slide {
    margin: 0 10px;
}

.about-photo-slider .slick-arrow,
.about-video-slider .slick-arrow {
    opacity: 0.3;
}
.about-photo-slider .slick-arrow:hover,
.about-video-slider .slick-arrow:hover {
    opacity: 1;
}

.about-photo-slider .prev-arrow,
.about-video-slider .prev-arrow {
    width: 40px;
    height: 76px;
    left: -55px;
    background: url('../img/icons/arrow1.png') no-repeat center center;
}

.about-photo-slider .next-arrow,
.about-video-slider .next-arrow {
    width: 40px;
    height: 76px;
    right: -55px;
    background: url('../img/icons/arrow.png') no-repeat center center;
}

.about-photo-slider img,
.about-video-slider img {
    width: 100%;
    border: 1px solid #f0f0f0;
}

.about-photo-slider .slick-slide span {
    display: block;
    padding: 15px;
    font-size: 20px;
    color: #000;
    background: #f0f0f0;
}
.about-photo-slider .slick-slide:hover,
.about-photo-slider .slick-slide:focus {
    text-decoration: none;
}

@media screen and (max-width: 1058px) {

    .about-advantages .items {
        display: block;
        width: 100%;
        margin-bottom: 25px;
    }
    .about-advantages .items:last-child {
        margin-bottom: 0;
    }

    .about-photo-slider,
    .about-video-slider {
        width: 100%;
    }

    .about-photo-slider .slick-arrow,
    .about-video-slider .slick-arrow {
        display: none !important;
    }
}

/* documents page */
.sec-documents .search-form {
    float: right;
}

.sec-documents input[type="text"] {
    width: 245px;
}

.documents-list {
    margin-top: 30px;
}

.document-single {
    width: 333px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.document-single:nth-child(3n) {
    margin-right: 0;
}

.document-single-img,
.document-single-info {
    float: left;
}

.document-single-img {
    width: 130px;
    height: auto;
    border: 1px solid #e0e0e0;
    overflow: hidden;
}

.document-single-img img {
    display: block;
    height: 100%;
    width: auto;
}

.document-single-info {
    min-height: 163.77px;
    width: 203px;
    padding: 15px;
    background: #f0f0f0;
}

.document-single-excerpt {
    margin: 0;
    line-height: normal;
}

.document-single-download {
    display: block;
    margin: 10px 0 0;
    padding: 10px 0;
    padding-left: 25px;
    font-size: 20px;
    color: #000;
    background-color: #fff;
    background-position: left 25px center;
    background-repeat: no-repeat;
    background-image: url('../img/icons/download.png');
    text-align: center;
}
.document-single-download:hover {
    text-decoration: none;
    color: #fff;
    background-color: #525252;
    background-image: url('../img/icons/download-white.png');
}

@media screen and (max-width: 1058px) {

    .sec-documents .search-form,
    .sec-documents input[type="text"] {
        width: 100%;
    }

    .sec-documents input[type="text"],
    .documents-list {
        margin: 0;
    }

    .document-single,
    .document-single-img,
    .document-single-info {
        float: none;
        display: block;
        width: 100%;
        height: auto;
    }

    .document-single {
        margin-right: 0;
    }

    .document-single-img img {
        width: 100%;
        height: auto;
    }

    .document-single-info {
        min-height: 0;
    }

    .document-single-download {
        margin-top: 20px;
    }
}

/* dealers page */
.map {
    width: 1120px;
    transform: translateX(-40px);
}

.sec-dealers h1 {
    font-size: 28px;
}

.map {
    position: relative;
}

.map-russia {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.map-marker-single {
    position: absolute;
    cursor: pointer;
}

.map-marker-single + .dealer-info {
    position: absolute;
    display: none;
    width: 410px;
    padding: 25px 20px 20px;
    text-align: left;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #8f8f8f;
    z-index: 2;
    cursor: default;
}
.map-marker-single.marker-visible + .dealer-info {
    display: block;
}

.dealer-city,
.dealer-office {
    display: inline-block;
    margin-right: 0;
}

.dealer-city {
    font-size: 17px;
    font-weight: 400;
    color: #cc0e00;
    position: relative;
    top: -15px;
}

.dealer-office {
    margin-left: 15px;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    top: -15px;
}

.dealer-info-close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    line-height: 1;
    cursor: pointer;
    color: #cc0e00;
}

.dealer-info-nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;

    margin-bottom: 15px;
}

.dealer-info-nav a {
    padding: 5px 8px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    background: #ebebeb;
}
.dealer-info-nav a:hover {
    text-decoration: none;
}
.dealer-info-nav a.current {
    background: none;
    text-decoration: none;
}

.dealer-info-tabs > div {
    display: none;
}
.dealer-info-tabs > div.current {
    display: block;
}

.managers-list {
    display: none !important;
}

.manager-img-container,
.manager-info-container {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
}

.manager-img-container {
    width: 80px;
    overflow: hidden;
}

.manager-info-container {
    width: 290px;
}
.manager-img-container + .manager-info-container {
    padding-left: 15px;
}

.manager-img {
    width: 100%;
    height: auto;
}

.manager-name {
    margin: 0;
    font-size: 14px;
}

.manager-post {
    margin: 0 0 8px;
    font-size: 11px;
}

.manager-contact {
    margin: 1px 0;
    padding-left: 18px;
    font-size: 14px;
}
.manager-contact-skype {
    background: url('../img/map/manager-skype.png') no-repeat left center;
}
.manager-contact-phone {
    background: url('../img/map/manager-phone.png') no-repeat left center;
}
.manager-contact-email {
    background: url('../img/map/manager-email.png') no-repeat left center;
}

/* markers positions */
.map-marker-moscow {
    top: 232px;
    left: 182px;
}
.map-marker-piter {
    top: 153px;
    left: 200px;
}
.map-marker-ufa {
    top: 348px;
    left: 278px;
}
.map-marker-ulanude {
    top: 509px;
    left: 691px;
}
.map-marker-mahachkala {
    top: 429px;
    left: 97px;
}
.map-marker-nalchik {
    top: 386px;
    left: 75px;
}
.map-marker-elista {
    top: 371px;
    left: 120px;
}
.map-marker-cherkessk {
    top: 373px;
    left: 67px;
}
.map-marker-petrozavodsk {
    left: 240px;
    top: 159px;
}
.map-marker-syktyvkar {
    top: 244px;
    left: 310px;
}
.map-marker-yoshkarola {
    top: 281px;
    left: 249px;
}
.map-marker-gornoaltaisk {
    top: 500px;
    left: 506px;
}
.map-marker-maikop {
    top: 330px;
    left: 78px;
}
.map-marker-kazan {
    top: 306px;
    left: 245px;
}
.map-marker-kyzyl {
    top: 512px;
    left: 563px;
}
.map-marker-izhevsk {
    top: 304px;
    left: 286px;
}
.map-marker-abakan {
    top: 477px;
    left: 545px;
}
.map-marker-groznyi {
    top: 408px;
    left: 91px;
}
.map-marker-cheboksary {
    top: 291px;
    left: 230px;
}
.map-marker-saransk {
    top: 286px;
    left: 202px;
}
.map-marker-barnaul {
    top: 477px;
    left: 472px;
}
.map-marker-chita {
    top: 497px;
    left: 747px;
}
.map-marker-krasnodar {
    top: 327px;
    left: 67px;
}
.map-marker-krasnoyarsk {
    top: 448px;
    left: 572px;
}
.map-marker-perm {
    top: 307px;
    left: 309px;
}
.map-marker-vladivostok {
    top: 552px;
    left: 966px;
}
.map-marker-habarovsk {
    top: 460px;
    left: 963px;
}
.map-marker-blagoveshensk {
    top: 472px;
    left: 882px;
}
.map-marker-arhangelsk {
    top: 168px;
    left: 287px;
}
.map-marker-astrahan {
    top: 391px;
    left: 140px;
}
.map-marker-belgorod {
    top: 271px;
    left: 123px;
}
.map-marker-bryansk {
    top: 222px;
    left: 130px;
}
.map-marker-vladimir {
    top: 240px;
    left: 198px;
}
.map-marker-volgograd {
    top: 335px;
    left: 148px;
}
.map-marker-vologda {
    top: 222px;
    left: 253px;
}
.map-marker-voronezh {
    top: 289px;
    left: 138px;
}
.map-marker-irkutsk {
    top: 496px;
    left: 655px;
}
.map-marker-kaliningrad {
    left: 104px;
    top: 127px;
}
.map-marker-kemerovo {
    top: 462px;
    left: 520px;
}
.map-marker-kirov {
    top: 265px;
    left: 273px;
}
.map-marker-kurgan {
    left: 352px;
    top: 380px;
}
.map-marker-kursk {
    top: 250px;
    left: 120px;
}
.map-marker-lipeck {
    top: 264px;
    left: 150px;
}
.map-marker-nizhnovgorod {
    top: 264px;
    left: 228px;
}
.map-marker-novgorod {
    top: 168px;
    left: 188px;
}
.map-marker-novosibisk {
    top: 447px;
    left: 477px;
}
.map-marker-omsk {
    top: 423px;
    left: 411px;
}
.map-marker-orenburg {
    top: 371px;
    left: 245px;
}
.map-marker-penza {
    top: 300px;
    left: 190px;
}
.map-marker-rostov {
    top: 325px;
    left: 102px;
}
.map-marker-ryazan {
    top: 256px;
    left: 181px;
}
.map-marker-samara {
    top: 337px;
    left: 227px;
}
.map-marker-saratov {
    top: 322px;
    left: 183px;
}
.map-marker-ekaterinburg {
    top: 342px;
    left: 364px;
}
.map-marker-smolensk {
    top: 201px;
    left: 152px;
}
.map-marker-tambov {
    top: 281px;
    left: 167px;
}
.map-marker-tver {
    top: 201px;
    left: 187px;
}
.map-marker-tomsk {
    top: 425px;
    left: 508px;
}
.map-marker-tula {
    top: 242px;
    left: 161px;
}
.map-marker-tumen {
    top: 365px;
    left: 383px;
}
.map-marker-stavropol {
    top: 361px;
    left: 89px;
}
.map-marker-kaluga {
    top: 223px;
    left: 150px;
}
.map-marker-ulianovsk {
    top: 310px;
    left: 216px;
}
.map-marker-cheliabinsk {
    top: 364px;
    left: 314px;
}
.map-marker-yaroslavl {
    top: 223px;
    left: 208px;
}
.map-marker-sahalinsk {
    top: 467px;
    right: 64px;
}
.map-marker-magadan {
    top: 255px;
    right: 134px;
}
.map-marker-murmansk {
    top: 106px;
    left: 332px;
}
.map-marker-kostroma {
    top: 234px;
    left: 228px;
}
.map-marker-petropavlovsk {
    top: 280px;
    right: 32px;
}
.map-marker-birobidjan {
    top: 481px;
    left: 939px;
}
.map-marker-sevastopol {
    top: 302px;
    left: 36px;
}
/* */

.dealers-list {
    display: none;
}

.required-field {
    color: #cc0e00;
    padding-right: 4px;
}

.dealers-form {
    position: relative;
    width: 400px;
    margin: 20px auto 0;
    text-align: center;
}

.dealers-form small {
    display: block;
    margin-bottom: 20px;
    font-size: 17px;
    text-align: left;
}

.dealers-form ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dealers-form ul li {
    position: relative;
}

.dealers-form label {
    position: absolute;
    width: 180px;
    top: 7px;
    left: -205px;
    font-size: 17px;
    font-weight: 400;
    text-align: right;
}

.dealers-form input,
.dealers-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 7px 12px;
    font-size: 17px;
    outline: none;
    border: 1px solid #8f8f8f;
}

.dealers-form textarea {
    height: 200px;
    resize: none;
}

.dealers-form input[type="submit"] {
    padding: 12px 0;
    text-align: center;
    color: #fff;
    background: #3d3d3d;
    border: none;
}
.dealers-form input[type="submit"]:hover {
    background: #cc0e00;
}

@media screen and (max-width: 1058px) {

    .map {
        display: none;
    }

    .dealers-list {
        display: block;
        margin: 25px 0;
    }

    .dealers-form {
        width: 100%;
    }

    .dealers-form label {
        position: static;
        display: block;
        width: 100%;
        text-align: left;
    }
}

/* Cart page */
.sec-cart {
    padding-bottom: 120px;
}

.sec-cart h1 {
    font-size: 28px;
}

.cart-table {
    margin-top: 30px;
    width: 100%;
    font-size: 20px;
}

.cart-table th {
    padding: 0 0 35px;
    font-weight: 400;
    color: #cc0e00;
    border-bottom: 1px solid #e0e0e0;
}

.cart-table thead th:first-child {
    padding-left: 105px;
}

.cart-table tbody tr:first-child td {
    padding-top: 40px;
}

.cart-table td {
    backface-visibility: visible;
    padding: 25px 0;
    border-bottom: 1px solid #e0e0e0;
}

.cart-table-name {
    width: 500px;
}

.cart-table-name img,
.cart-table-name strong {
    display: inline-block;
    vertical-align: middle;
}

.cart-table-name img {
    max-width: 70px;
    max-height: 70px;
    margin-right: 30px;
    border: 1px solid #e0e0e0;
}

.cart-table-name strong {
    font-weight: 400;
    color: #666666;
}

.cart-table-name a {
    color: #000;
}

.cart-table-delete {
    font-size: 30px;
}

.cart-good-delete {
    color: #666;
    cursor: pointer;
}

.cart-good-delete:hover {
    color: #cc0e00;
}

.cart-table-control,
.cart-table-quantity {
    display: inline-block;
    height: 50px;
    margin-right: -5px;
    vertical-align: middle;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.cart-table-control {
    padding: 0 15px;
    line-height: 50px;
    cursor: pointer;
}
.cart-table-control:hover {
    background: #e0e0e0;
}

.control-decrease {
    border-left: 1px solid #e0e0e0;
}

.control-increase {
    border-right: 1px solid #e0e0e0;
}

.cart-table-quantity {
    width: 45px;
    border-left: none;
    border-right: none;
    background: #f0f0f0;
    outline: none;
}

.cart-total-wrapper {
    text-align: right;
}

.cart-total {
    margin: 35px 0;
    padding-right: 92px;
    font-size: 20px;
}

.cart-total strong {
    color: #cc0e00;
    padding-right: 95px;
    font-weight: 400;
}

.cart-total-wrapper a.btn-order {
    margin-top: 0;
    margin-right: 25px;
}

@media screen and (max-width: 1058px) {

    .table-wrapper {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .cart-table {
        width: 1100px;
    }

    .cart-total-wrapper {
        text-align: left;
    }

    .cart-total,
    .cart-total strong {
        padding-right: 4px;
    }
}

/* Modal custom */
.modal-custom {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    padding: 40px 30px;
    background: #fff;
}

.modal-title {
    display: block;
    margin: 0 0 15px;
    font-size: 22px;
    font-weight: 400;
}

.modal-custom input[type=text],
.modal-custom input[type=tel],
.modal-custom input[type=email] {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 7px 12px;
    font-size: 17px;
    outline: none;
    border: 1px solid #8f8f8f;
}

.modal-custom input[type=submit].btn {
    width: 100%;
    padding: 11px 18px;
    text-align: center;
}
